requests~=2.31.0
yiri-mirai
text2vec~=1.2.9
jinja2~=3.1.2
markdown~=3.5.1
playwright~=1.40.0
pytest-playwright
pymdown-extensions
typing
python-markdown-math
tqdm~=4.66.1
pip~=23.2.1
pillow~=10.1.0
numpy~=1.26.2